In [25]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\graml\\OneDrive\\Desktop\\Deependra 2023UG1029 Python\\AQI_Data.csv")
print(df)
# Acccessing the csv file

       City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0     Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1     Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2     Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3     Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4     Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019
...     ...         ...  ...    ...   ...        ...       ...         ...
2557   Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2558   Pune  2024-12-28  252    202   182  19.920962  1.599821   41.939484
2559   Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167
2560   Pune  2024-12-30  253    269   285  66.231614  0.611800   63.966705
2561   Pune  2024-12-31   95    140   117  99.505459  0.122817  112.774765

            SO2
0     25.062474
1      5.926302
2     32.786668
3      7.099955
4     28.140550
...         ...
2557  44.263423
2558  20.545087
2559  22.646297
2560  10.580135
2561  30.814997

[2562 rows x 9 columns]

In [4]:
# disolay first five rows
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\graml\\OneDrive\\Desktop\\Deependra 2023UG1029 Python\\AQI_Data.csv")
print(df.head(5))

    City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0  Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1  Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2  Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3  Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4  Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019

         SO2
0  25.062474
1   5.926302
2  32.786668
3   7.099955
4  28.140550

In [5]:
# display the last 6 row 
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\graml\\OneDrive\\Desktop\\Deependra 2023UG1029 Python\\AQI_Data.csv")
print(df.tail(6))

      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2557  Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2558  Pune  2024-12-28  252    202   182  19.920962  1.599821   41.939484
2559  Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167
2560  Pune  2024-12-30  253    269   285  66.231614  0.611800   63.966705
2561  Pune  2024-12-31   95    140   117  99.505459  0.122817  112.774765

            SO2
2557  44.263423
2558  20.545087
2559  22.646297
2560  10.580135
2561  30.814997

In [9]:
# mean for AQI
city=df["city"]
city_grouped=np.unique(df["city"])
AQI=df["AQI"]
grouped_data={category:AQI[city==category].mean()for category in city_grouped}
average(grouped_data.key=grouped.data.get}

277.6350507416081

In [7]:
# To get Summary Statisctics
print(df.describe())

               AQI        PM2.5         PM10          NO2           CO  \
count  2562.000000  2562.000000  2562.000000  2562.000000  2562.000000
mean    277.635051   276.738486   275.988290    54.151115     1.037476
std     128.603738   131.015126   131.900856    25.744072     0.560294
min      50.000000     2.000000   -26.000000    10.036926     0.100100
25%     166.250000   165.000000   166.000000    32.025372     0.545341
50%     276.000000   274.500000   274.000000    53.606459     1.010095
75%     388.750000   388.000000   386.000000    76.322683     1.533300
max     499.000000   543.000000   559.000000    99.974242     1.999528

                O3          SO2
count  2562.000000  2562.000000
mean    104.832673    27.746349
std      54.878784    12.927527
min      10.045129     5.000524
25%      58.169877    16.685076
50%     104.345545    27.872017
75%     152.515574    38.878445
max     199.979607    49.976055

In [10]:
# for PM2.5
AQI = df["PM2.5"]
grouped_data = {category: AQI[city == category].mean() for category in city_grouped}
print(grouped_data)

276.73848555815766

In [32]:
# Grouping Of Data according to the city with their mean
city = df["City"]
city_grouped  =  np.unique(df["City"])
AQI = df["AQI"]
grouped_data = {category: AQI[city == category].mean() for category in city_grouped}
print(grouped_data)

{'Bangalore': np.float64(279.54371584699453), 'Chennai': np.float64(274.3142076502732), 'Delhi': np.float64(279.1530054644809), 'Hyderabad': np.float64(280.3551912568306), 'Kolkata': np.float64(265.9016393442623), 'Mumbai': np.float64(287.7978142076503), 'Pune': np.float64(276.379781420765)}

In [33]:
# for PM10
AQI = df["PM10"]
grouped_data = {category: AQI[city == category].mean() for category in city_grouped}
print(grouped_data)

{'Bangalore': np.float64(277.75956284153006), 'Chennai': np.float64(273.26502732240436), 'Delhi': np.float64(279.3497267759563), 'Hyderabad': np.float64(276.45628415300547), 'Kolkata': np.float64(263.6448087431694), 'Mumbai': np.float64(286.6693989071038), 'Pune': np.float64(274.77322404371586)}

In [29]:
# Maximum of PM10 Level
city=df["city"]
city_grouped=np.unique(df["city"])
AQI=df["AQI"]
grouped_data={category:AQI[city==category].mean()for category in city_grouped}
max(grouped_data.key=grouped.data.get}

In [14]:
# average AQI
city=df["city"]
city_grouped=np.unique(df["city"])
AQI=df["AQI"]
grouped_data={category:AQI[city==category].mean()for category in city_grouped}
average(grouped_data.key=grouped.data.get}

277.6350507416081

{'Bangalore': np.float64(279.54371584699453), 'Chennai': np.float64(274.3142076502732), 'Delhi': np.float64(279.1530054644809), 'Hyderabad': np.float64(280.3551912568306), 'Kolkata': np.float64(265.9016393442623), 'Mumbai': np.float64(287.7978142076503), 'Pune': np.float64(276.379781420765)}

In [37]:
#creating a csv file 
# df = pd.DataFrame(grouped_data)
df.to_csv('output_data.csv')
# Created a New Csv file

In [41]:
import os
os.getcwd()

'C:\\Users\\graml'